/* Resets */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter:wght@700&family=Open+Sans:ital,wght@1,300&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container{
    position: relative;
    background-color: #8cc461;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100%;
}

ul{
    list-style: none;
}

/* Resets */


/* Header*/
header{
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box{
    width: 65%;
    height: 70%;
    position: relative;
    top: 15px;
    border: 3px solid #ffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/* Left part */

.text-part{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text-part > ul > li{
    letter-spacing: 2px;
    font-size: 35px;
    line-height: 45px;
    margin-left: 20px;
    font-weight: 500;
    color: #ffff;
}

/* Left part */


/* Right part */

.score-part{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-1, .box-2{
    height: 140px;
    width: 150px;
    border-radius: 8px;
    margin-right: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.computer{
    letter-spacing: 2px;
    text-align: center;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}

.your{
    letter-spacing: 2px;
    text-align: center;
    width: 75px;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}

input{
    outline: none;
    border: none;
    height: 50%;
    width: 70%;
    position: relative;
    bottom: 5px;
    background-color: #ffffff;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 6px;
}

/* Right part */

/* Header*/




/* Main */

main{
    width: 100%;
    height: 55vh;
    position: relative;
    display: flex;
    justify-content: center;
}




/* line code */
.lines {
    position: relative;
    border: 7px solid #000000a3;
    width: 2px;
    height: 225px;
}

#line-1 {
    height: 300px;
    bottom: 55px; 
    transform: translate(5px, 5px) rotate(90deg);
}

#line-2 {
    top: -215px; 
    transform: translate(85px, 5px) rotate(40deg);
}

#line-3 {
    top: -440px;
    left: -145px;
    transform: translate(70px, 5px)  rotate(-40deg);
}
/* line code */

.game > button{
    height: 150px;
    width: 150px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
}

.game{
    position: relative;
    top: 55px;
}

.game > button:hover{
    cursor: pointer;
    filter: drop-shadow(-1px 1px 11px rgba(255, 255, 255, 0.35));
    transition: all 0.01s ease-in-out;
    box-shadow: none;
}

button > img:hover{
    scale: 1.3;
}

.rock{
    top: 30px;
    transform: translate(-200px, -3px);
    border: 14px solid #0074b6;
}

.paper{
    top: 40px;
    
    transform: translate(105px, -10px);
    border: 15px solid #ffa943;
}

.scissor{
    top: 220px;
    border: 15px solid #bd00ff;
    transform: translate(-55px, -10px);
}



/* Main */



/* footer */
footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.close{
    position: relative;
    bottom: 25px;
    left: 140px;
    z-index: 2;
    height: 55px;
    width: 55px;
    background-color: #FF0000;
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
}

.close:hover{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 1px solid #fff;
}

.cross-line-1{
    position: relative;
    top: 8px;
    left: 19px;
    height: 28px;
    width: 8px;
    background-color: #fff;
    display: inline-block;
    border-radius: 15px;
    rotate: 47deg;
}

.cross-line-2{
    position: relative;
    top: 8px;
    left: 11px;
    height: 28px;
    width: 8px;
    background-color: #fff;
    display: inline-block;
    border-radius: 15px;
    rotate: -47deg;
}

.instruction{
    position: absolute;
    bottom: 130%;
    right: 30px;
    border: 8px solid #ffff;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    background-color: #004429;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.instruction > .heading{
    position: relative;
    bottom: 35px;
    color: #ffff;
    font-size: 2.5rem;
}

.instruction > ul > li{
    width: 33vh;
    font-size: 14px;
    color: #ffff;
    position: relative;
    word-spacing: 2px;
    width: 250px;
    margin-top: 12px;
    bottom: 30px;
}

.instruction > ul > li > img{
    margin-right: 5px;
}


.rules{
    height: 50px;
    width: 120px;
    background-color: #8cc461;
    border: 3px solid #ffff;
    border-radius: 10px;
    font-size: larger;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    letter-spacing: 2px;
}

.next{
    height: 50px;
    width: 120px;
    background-color: #8cc461;
    border: 3px solid #ffff;
    border-radius: 10px;
    font-size: larger;
    color: #ffff;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    letter-spacing: 2px;
}

.rules:hover{
    color: #656565;
    background-color: #ffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.next:hover{
    color: #656565;
    background-color: #ffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* footer */


/* Result Code */
.result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.user, .pc, .para{
    height: 200px;
    width: 200px; 
}


.user{
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc{
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.result > p{
    position: relative;
    font-size: larger;
    letter-spacing: 2px;
    color: #fff;
}

.para > p{
    position: relative;
    letter-spacing: 2px;
    top: 35px;
    color: #fff;
    font-weight: 600;
}

.para > span{
    font-size: 35px;
    font-weight: 700;
    position: relative;
    top: 30px;
    letter-spacing: 2px;
    color: #fff;
}

.para > button{
    position: relative;
    top: 60px;
    left: 10px;
    height: 40px;
    width: 170px;
    background-color: #ffff;
    border: 5px solid #fff;
    border-radius: 10px;
    font-size: large;
    color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    letter-spacing: 2px;
    border: none;
}

.para > button:hover{
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}

.user-circle-1, .pc-circle-1{
    background-color: #66b248;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-circle-2, .pc-circle-2{
    background-color: #32a62f;;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-circle-3, .pc-circle-3{
    background-color: #289a27;;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0px 1px -62px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-circle-3 > p, .pc-circle-3 > p{
    position: relative;
    bottom: 20px;
    color: #ffff;
    letter-spacing: 2px;
    font-size: larger;
}

.user{
    position: relative;
    bottom: 10px;
}

.pc{
    position: relative;
    bottom: 10px;
}
/* Result Code */

/* hurray code */
.hurray-message{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.star-img{
    display: block;
    width: 500px;
    position: relative;
    top: 5%;
}

.cup-img{
    display: block;
    width: 210px;
    position: relative;
    z-index: 2;
    bottom: 16%;
}

h1{
    color: #fff;
    font-size: 80px;
    position: relative;
    bottom: 12%;
    letter-spacing: 4px;
}

h2{
    color: #fff;
    position: relative;
    bottom: 12%;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 5px;
}

.hurray-message > button{
    position: relative;
    bottom: 10%;
    height: 50px;
    width: 170px;
    background-color: #ffff;
    border: 5px solid #fff;
    border-radius: 10px;
    font-size: large;
    color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.hurray-message > button:hover{
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}

/* hurray code */

.hurray-message, .instruction, .result, .close{
    display: none;
}


.user-circle-1, .user-circle-2, .user-circle-3{
    visibility: hidden;
}

.pc-circle-1, .pc-circle-2, .pc-circle-3{
    visibility: hidden;
}

.user-circle-3 > p, .user{
    visibility: visible;
}

.pc-circle-3 > p, .pc{
    visibility: visible;
}


@keyframes popup {
    0%{
        right: 15px;
    }
    100%{
        right: 30px;
    }
}
